.main-container {
  margin: 10px auto;
  max-width: 600px;
  padding: 16px;
}

.heading {
  font-size: 21px;
  font-weight: 700;
  padding: 16px;
  text-align: center;
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
}

.currency,
.quantity {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 12px;
}

.input-container {
  display: flex;
}

.btn-container {
  align-self: flex-end;
}

.withDraw-section {
  width: 360px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    .currency {
      margin-bottom: 12px;
    }

    .btn-container {
      align-self: center;
    }

    .input-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 12px;
    }
  }
}

.transaction-container {
  margin: 12px 0;
  .transaction {
    display: flex;
    justify-content: space-evenly;
  }
}
