.header-container {
  display: flex;
  justify-content: space-around;
  height: 48px;

  .header-btn {
    font-size: 18px;
    font-weight: 600;
    flex: 1 1 auto;
    border: 0;
    color: #ed5e5d;
    background-color: #fff;
    letter-spacing: 2px;
  }
  .active-btn {
    font-size: 21px;
    font-weight: 700;
    color: #ff9c00;
    text-decoration: underline;
  }

  .header-btn:hover {
    background-color: #f0c0c0;
    color: #fff;
  }

  .header-btn:active {
    transform: scale(0.95);
  }
}
